.logo_navbar {
  display: inline-block; // Keeps the logo treated as a block for proper hover effects
  transform: scale(1);
  transition: transform 0.3s ease; // Smooth transition for scaling effect

  &:hover {
    animation: pulse 1.5s forwards infinite;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.08);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
